.tabs {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 35px;

    nav {
        margin: 0 auto;
        @include max-screen(768px) {
            width: 100%;
        }
    }

    &__link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #fff;
        padding: 0;
        margin: 0;
        @include max-screen(768px) {
            flex-direction: column;
        }

        .tab-link {
            width: 160px;
            height: 140px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            cursor: pointer;
            position: relative;

            &::before {
                position: absolute;
                content: '';
                top: 100%;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: $medium-blue;
                z-index: -1;
                transition: all .3s ease;
                @include max-screen(768px) {
                    top: 0;
                }
            }

            &:hover {
                &::before {
                    top: 0;
                }
            }

            &:first-child {
                .tab-link__background {
                    top: 0;
                }
            }

            //@include max-screen(768px) {
            //    width: calc(100% / 3);
            //}

            @include max-screen(768px) {
                width: 100%;
            }
        }

        .tab-link__background {
            position: absolute;
            top: 100%;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $light-blue;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        span {
            &::before {
                font-size: 70px;
            }
        }

        p {
            text-align: center;
            @include monts_700;
            text-transform: uppercase;
            margin-bottom: 0;
        }
    }

    &__body {
        width: 100%;
        height: 100%;
        padding: 25px;
        background: linear-gradient(to bottom, $light-blue, $medium-blue, 50%, $dark-blue 100%);

        .tab {
            width: 100%;
            min-height: calc(515px - 50px);
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
                font-size: 55px;
                text-transform: uppercase;
                color: $dark-blue;
                margin: 0;
            }

            a {
                @include monts_700;
                font-size: 16px;
                color: $dark-blue;
            }

            &-one {
                color: $dark-blue;
                @include max-screen(768px) {
                    display: flex;
                    flex-direction: column;
                }

                img {
                    width: 100%;
                }

                &__left,
                &__right {
                    display: flex;
                    width: 50%;
                    @include max-screen(768px) {
                        width: 100%;
                    }
                }

                &__left {
                    justify-content: center;
                }

                &__right {
                    flex-direction: column;
                    justify-content: flex-start;
                    padding-left: 70px;
                    margin-bottom: 170px;
                    @include max-screen(768px) {
                        margin: 25px auto;
                    }
                    @include max-screen(480px) {
                        padding-left: 25px;
                    }

                    h3 {
                        @include oswald_500;
                        font-size: 23px;
                    }

                    & > div {
                        display: flex;
                        align-items: center;
                        height: 50px;

                        & > span {
                            padding-right: 15px;

                            &::before {
                                font-size: 30px;
                            }
                        }

                        p {
                            @include monts_700;
                            font-size: 16px;

                            span {
                                @include monts_500;
                                color: #000;
                                padding-right: 2px;
                            }
                        }
                    }
                }
            }

            &-two {
                opacity: 0;

                &__weather {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            &-three {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                padding: 35px 35px 0;
                opacity: 0;
                @include max-screen(768px) {
                    align-items: flex-start;
                    padding: 35px;
                }

                @include max-screen(480px) {
                    align-items: center;
                }

                p {
                    @include monts_500;
                    font-size: 16px;
                    margin: 0;
                    color: $dark-blue;
                }

                &__text {
                    position: relative;
                    z-index: 2;
                    @include max-screen(768px) {
                        margin-bottom: 35px;
                    }
                }

                &__diagram {
                    position: relative;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    min-height: 350px;
                    @include max-screen(768px) {
                        display: none;
                    }
                }

                &__mobile-text {
                    display: none;
                    padding-left: 35px;

                    p {
                        margin-bottom: 15px;
                        font-size: 21px;
                        font-weight: 600;
                    }

                    @include max-screen(768px) {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                    }

                    @include max-screen(480px) {
                        padding-left: 0;
                    }
                }

                text {
                    font-weight: 400;
                }
            }
        }

        .d_none {
            display: none;
        }
    }
}

#donutchart {
    position: relative;
    & > div {
        & > div {
            margin: 0 auto;
        }
    }
}

.all_population {
    position: absolute;
    @include oswald_500;
    font-size: 40px;
    color: $dark-blue;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -48%);
    z-index: 99999;
}