.main-menu {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    background-color: $light-blue;
    z-index: 1;

    @include max-screen(1024px) {
        display: none;
    }

    &::before {
        position: absolute;
        content: '';
        max-height: 70px;
        top: 0;
        right: -100%;
        bottom: 0;
        left: -30px;
        background-color: $light-blue;
        z-index: 1;
        transform: skewX(40.5deg);

        @include max-screen(1200px) {
            right: 30px;
        }
    }

    ul {
        width: 100%;
        position: relative;
        z-index: 2;
        @include monts_400;
        font-size: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 125px 0 50px;
        margin: 0;

        li {
            position: relative;
            text-transform: uppercase;
            list-style: none;

            &::after {
                position: absolute;
                content: '';
                top: 0;
                right: 50%;
                bottom: 0;
                left: 50%;
                opacity: 0;
                background-color: $medium-blue;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -ms-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
                z-index: -1;
            }

            &:hover {
                color: #fff;

                &::after {
                    right: 0;
                    left: 0;
                    opacity: 1;
                }
            }
        }

        .flaticon-magnifying-glass {
            display: flex;
            align-items: center;
            position: relative;
            font-size: 30px;

            &::before {
                color: #fff;
                position: absolute;
                transform: rotate(90deg);
            }
        }

        a {
            position: relative;
            display: flex;
            align-items: center;
            text-align: center;
            width: 100%;
            height: 70px;
            text-decoration: none;
            color: #fff;
            padding: 0 15px;
        }

        .active {
            position: relative;

            &::before {
                position: absolute;
                content: '';
                top: 0;
                right: 14px;
                bottom: 30%;
                left: 14px;
                border-bottom: 1px solid #fff;
            }
        }
    }
}

.buttonSearch {
    position: absolute;
    width: 100%;
    height: 0;
    background-color: $medium-blue;
    padding: 0 0 0 50px;
    z-index: 2;

    &__mobile-top,
    &__mobile-bottom {
        @include min-screen(1024px) {
            display: none !important;
        }
    }

    form {
        //height: 70px;
        height: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
    }

    input {
        height: 0;
        opacity: 0;
        width: calc(100% - 90px);
        @include monts_400;
        position: relative;
        font-size: 16px;
        color: #fff;
        padding: 0 15px;
        outline: none;
        border: none;
        background: transparent;
        -webkit-transition: all .6s ease;
        -moz-transition: all .6s ease;
        -ms-transition: all .6s ease;
        -o-transition: all .6s ease;
        transition: all .6s ease;
        top: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
        @include max-screen(1024px) {
            top: 35px;
        }

        &::-webkit-input-placeholder {
            color: #fff;
        }

        &::-moz-placeholder {
            color: #fff;
        }

        &:-ms-input-placeholder {
            color: #fff;
        }

        &:-moz-placeholder {
            color: #fff;
        }
    }

    button {
        background: transparent;
        border: none;
        height: 70px;
        width: 90px;
        position: absolute;
        top: -70px;
        right: 0;
        cursor: pointer;
        padding: 0;
        outline: none;
    }

    button.btn2 {
        display: none;
    }

    .flaticon-magnifying-glass {
        display: block;
        width: 100%;
        height: 100%;
        &::before {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            bottom: 0;
            left: 0;
            font-size: 30px;
            color: #fff;
        }
    }

    .flaticon-close {
        position: relative;
        display: none;
        opacity: 0;
        //opacity: 1;
        top: -50px;
        &::before {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            font-size: 30px;
            color: #fff;
        }
    }

    &__mobile {
        position: relative;
        width: auto;
        display: none;
        @include max-screen(1024px) {
            display: block;
        }

        &-top {
            position: relative;
            width: auto;
            background-color: transparent;
            button {
                top: -35px;
            }
        }
    }
}

// ------ Mobile Menu ------
.mobile-nav {
    position: relative;
    display: none;
    z-index: 2;
    @include max-screen(1024px) {
        display: inherit;
    }
}

.mobile-menu {
    text-align: right;
    padding: 0;
    margin: 0;

    &__links-item {
        display: inline-block;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        font-weight: 700;
        line-height: 30px;
        padding: 0 10px;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
            text-decoration: none;
            background-color: rgba($light-blue *.9, .8);
        }
    }

    &__icon {
        display: none;
        width: 45px;
        height: 26px;
        position: relative;
        cursor: pointer;
        margin: 0;

        span {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            background: #fff;
            border-radius: 0;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2),
            &:nth-child(3) {
                top: 13px;
            }

            &:nth-child(4) {
                top: 26px;
            }
        }
    }

    @include max-screen(1024px) {
        &__icon {
            display: inline-block;
        }

        &__links {
            top: 0;
            right: 0;
            left: 0;
            background-color: $dark-blue;
            z-index: 1000;
            overflow: auto;
            padding: 0;
        }

        &__links-item {
            display: block;
            text-align: center;
            color: #ffffff;
            padding: 0;

            a {
                display: block;
                width: 100%;
                height: 100%;
                padding: 10px 0;
            }
        }
    }

    @include max-screen(768px) {
        &__icon {
            position: relative;
            left: -15px;
        }
    }

    //@include max-screen(480px) {
    //    &__icon {
    //        left: 0;
    //    }
    //}

    // ------ Mobile Menu Open ------
    &.menu_state_open &__icon span {
        &:nth-child(1) {
            top: 18px;
            width: 0;
            left: 50%;
        }

        &:nth-child(2) {
            transform: rotate(45deg);
        }

        &:nth-child(3) {
            transform: rotate(-45deg);
        }

        &:nth-child(4) {
            top: 18px;
            width: 0;
            left: 50%;
        }
    }
}



















