.documents {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 2;
    background-color: $white;
    @include monts_400;
    box-shadow: 25px 30px 80px -35px #000, -25px 30px 80px -35px #000;

    @include max-screen(1024px) {
        margin: 0 auto;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        color: $white;
        overflow: hidden;

        &-left {
            width: 35%;
            height: 85px;
            display: flex;
            align-items: center;
            background-color: $dark-blue;
            padding-left: 50px;
            position: relative;

            @include max-screen(1024px) {
                width: 50%;
                padding: 0 25px;
            }

            &::before {
                position: absolute;
                content: '';
                top: 0;
                right: -15%;
                bottom: 0;
                left: 85%;
                background-color: $dark-blue;
                z-index: -1;
                transform: skewX(45.5deg);

                @include max-screen(768px) {
                    display: none;
                }
            }

            h3 {
                font-size: 24px;
                color: $white;
                margin: 0;

                @include max-screen(1024px) {
                    font-size: 21px;
                }

                @include max-screen(768px) {
                    font-size: 17px;
                }

                span {
                    color: $light-blue;
                }
            }
        }
        
        &-right {
            width: 65%;
            height: 85px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: $light-blue;
            padding-right: 50px;
            position: relative;
            z-index: 0;

            @include max-screen(1024px) {
                width: 50%;
                padding: 0 25px;
            }

            &::before {
                position: absolute;
                content: '';
                top: calc(100% - 2px);
                right: 0;
                bottom: 0;
                left: -100vw;
                background-color: $light-blue;
                z-index: -2;
            }

            a {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                color: $light-blue;
                text-transform: uppercase;
                @include monts_500;
                margin-right: - 10px;

                @include max-screen(1024px) {
                    font-size: 17px;
                    text-align: right;
                }

                @include max-screen(768px) {
                    font-size: 15px;
                }

                &::before {
                    top: 95%;
                    right: 50px;
                    background-color: $light-blue;
                }

                &:hover {
                    &::before {
                        opacity: 1;
                    }

                    .flat-arrow {
                        &_middle {
                            margin: 0 -10px;
                        }
                    }
                }
            }

            .flat-arrow {
                min-width: 50px;
                padding-left: 10px;

                @include max-screen(768px) {
                    display: none;
                }

                &:hover {
                    cursor: auto;
                }
            }
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
        padding: 35px 30px;

        @include max-screen(1024px) {
            flex-wrap: wrap;
        }

        .one-document {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: calc(100% / 6);
            margin: 0 10px;

            @include max-screen(1024px) {
                width: calc(100% / 3);
                padding: 0 20px;
                margin: 0;
                margin-bottom: 50px;
            }

            @include max-screen(768px) {
                width: 50%;
            }

            &__img {
                text-align: center;
                img {
                    margin-left: -25px;
                }
            }

            &__footer {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
            }

            &__text {
                @include monts_500;
                color: #000;
                height: 75px;
                max-height: 75px;
                overflow: hidden;
            }

            &__date {
                color: $light-blue;
            }
        }
    }
}