.news {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto 30px;
    box-shadow: 0 0 35px -8px #000;
    color: $dark-blue;
    opacity: 0;

    &.show {
        opacity: 1;
    }

    h3 {
        @include monts_500;
        font-size: 18px;
        text-transform: uppercase;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }

    a {
        @include monts_500;
        font-size: 18px;
        color: $dark-blue;
        text-transform: uppercase;
    }

    &__separate {
        display: flex;
        align-items: center;
        width: 2px;
        height: 35%;
        margin: 0 15px;
    }

    &__links {
        width: 100%;
        height: 85px;
        display: flex;
        justify-content: space-between;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            top: 98%;
            right: 0;
            bottom: 0;
            left: 50px;
            background-color: $light-blue;

            @include max-screen(768px) {
                left: 0;
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        position: relative;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;

        a {
            &::before {
                top: 100%;
                bottom: -5%;
            }
            &:hover {
                &::before {
                    opacity: 1;
                }
            }
        }

        &-one,
        &-mobile-event {
            justify-content: flex-start;
            color: $dark-blue;
            padding-right: 40px;
            padding-left: 50px;
            margin-right: 90px;

            @include max-screen(1024px) {
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin-right: 0;

                h3 {
                    margin: 0;
                }
            }

            @include max-screen(768px) {
                padding-right: 0;
                padding-left: 25px;
                margin-right: 0;
            }

            a {
                padding-right: 15px;

                &::before {
                    background-color: $light-blue;
                    right: 15px;
                }
            }

            a,
            .flaticon-next-1 {
                color: $light-blue;
            }

            .news__separate {
                background-color: $dark-blue;
            }
        }

        &-two {
            justify-content: flex-end;
            background-color: $dark-blue;
            color: $white;
            padding-right: 50px;
            padding-left: 35px;

            @include max-screen(1024px) {
                display: none;
            }

            @include max-screen(1024px) {
                flex-direction: column-reverse;
                justify-content: center;
                align-items: flex-end;

                h3 {
                    margin: 0;
                }
            }

            @include max-screen(768px) {
                padding-right: 25px;
                padding-left: 0;
            }

            &::before {
                min-width: 85px;
                position: absolute;
                content: '';
                top: 0;
                right: 89%;
                bottom: 1px;
                left: -15%;
                transform: skewX(40.5deg);
                z-index: 2;
                background-color: $dark-blue;
                -webkit-transition: all .5s ease;
                -moz-transition: all .5s ease;
                -ms-transition: all .5s ease;
                -o-transition: all .5s ease;
                transition: all .5s ease;

                @include max-screen(1024px) {
                    min-width: 95px;
                    right: 85%;
                    left: -25%;
                }

                @include max-screen(768px) {
                    display: none;
                }
            }

            a {
                color: $white;
                padding-left: 15px;
                display: none;

                &::before {
                    background-color: $white;
                    left: 15px;
                }

                @include max-screen(768px) {
                    text-align: right;
                }
            }

            .news__separate {
                background-color: $white;
                display: none;
            }

            .news__passive {
                margin-left: -25px !important;
            }
        }

        &-view {
            display: flex;
            align-items: center;

            a {
                @include max-screen(1024px) {
                    font-size: 14px;
                }
            }
        }
    }

    &__separate {
        @include max-screen(1024px) {
            display: none !important;
        }
    }

    &__active {
        width: 70%;

        h3 {
            @include monts_700;
            font-size: 24px;
        }

        @include max-screen(1024px) {

            h3 {
                font-size: 21px;
            }

            &::before {
                max-width: 105px;
                left: -6%;
            }
        }
    }

    &__passive {
        width: 30%;
        cursor: pointer;

        @include max-screen(1024px) {
            flex-direction: row;
            align-items: center;

            h3 {
                font-size: 16px;
            }
        }

        @include max-screen(768px) {
            justify-content: center;
            align-items: center;
            padding: 0;
        }

        &:hover {
            .flat-arrow {
                &_middle {
                    margin: 0 -10px;
                    @include max-screen(1024px) {
                        margin: 0 -10px;
                    }
                }
            }
        }
    }

    .flat-arrow {
        @include max-screen(1024px) {
            flex-direction: row;
            align-items: center;

            span {
                &::before {
                    font-size: 14px;
                }
            }

            &_middle {
                margin: 0 -12px;
            }
        }

        @include max-screen(768px) {
            display: none;
        }
    }

    &__body {
        padding: 25px 50px;
    }

    .block-news {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .one-news {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: calc(100% / 3);
            margin: 0 10px;
            height: 400px;
            border-bottom: 3px solid $light-blue;

            img {
                height: 100%;
                max-height: 220px;
            }

            &__text {
                @include monts_700;
                font-size: 18px;
                color: #000;
                max-height: 65px;
                overflow: hidden;
                display: flex;
                align-items: flex-start;
            }

            &__footer {
                display: flex;
                justify-content: space-between;
                padding-bottom: 20px;
            }

            &__date {
                @include monts_500;
                font-size: 16px;
                color: $light-blue;
            }

            &__link {
                font-size: 16px;
                font-weight: 700;
                &::before {
                    top: 100%;
                    bottom: -5%;
                    background-color: $dark-blue;
                }
                &:hover {
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }

        .slick-slide {
            &:focus,
            &:active {
                outline: none;
            }
        }

        .slick-arrow {
            cursor: pointer;
            position: absolute;
            top: 25%;
            transform: translateY(-25%);
            color: $light-blue;
            z-index: 3;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;

            &::before {
                font-size: 40px;
            }

            &::after {
                position: absolute;
                content: '';
                top: 50%;
                right: 0;
                bottom: 0;
                left: 0;
                width: 36px;
                height: 5px;
                z-index: 3;
                background-color: $light-blue;
                transform: translateY(-50%);
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -ms-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
            }

            .flaticon-bg {
                width: 35px;
                top: -89px;
                bottom: -87px;
                position: absolute;
                z-index: 3;
                background: linear-gradient(135deg, $dark-blue 20%, $medium-blue 100%);
                -webkit-transition: all .5s ease;
                -moz-transition: all .5s ease;
                -ms-transition: all .5s ease;
                -o-transition: all .5s ease;
                transition: all .5s ease;
            }

            &:hover {
                color: $dark-blue;
                &::after {
                    background-color: $dark-blue;
                }
                .flaticon-bg {
                    background: linear-gradient(135deg, $light-blue, $dark-blue 100%);
                }
            }
        }

        .flaticon-return {
            left: -40px;

            &::after {
                left: 39px;
            }
        }

        .flaticon-next {
            left: 100%;

            &::after,
            .flaticon-bg {
                left: -35px;
            }
        }

        &__two {
            @include max-screen(1024px) {
                display: none;
            }
        }

        &__two,
        &__mobile {
            padding: 0 35px;
            margin-bottom: -20px;

            .slick-arrow {
                cursor: pointer;
                position: absolute;
                top: 200px;
                color: $light-blue;
                z-index: 3;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -ms-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;

                &::before {
                    font-size: 25px;
                }

                &::after {
                    display: none;
                }

                .flaticon-bg {
                    display: none;
                }

                &:hover {
                    color: $dark-blue;

                    &::after {
                        background-color: $dark-blue;
                    }
                }
            }

            .flaticon-return {
                left: -15px;

                &::after {
                    left: 10px;
                }
            }

            .flaticon-next {
                left: 99%;

                &::after,
                .flaticon-bg {
                    left: -25px;
                }
            }

            .slick-dots {
                width: 100%;
                display: flex !important;
                justify-content: center;
                align-self: center;

                .slick-active {

                    button {
                        color: $light-blue;
                        cursor: inherit;
                    }
                }

                button {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border: none;
                    background: none;
                    @include monts_400;
                    font-size: 14px;
                    cursor: pointer;
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    -ms-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
                    padding: 0 10px;

                    &:focus,
                    &:active {
                        outline: none;
                    }
                }
            }
        }

        .three-event {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 10px;
        }

        .one-event {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            height: 120px;
            -webkit-box-shadow: 0 0 10px #000;
            -moz-box-shadow: 0 0 10px #000;
            box-shadow: 0 0 20px -3px rgba(#000, .5);
            margin: 10px 0;
            padding: 15px 20px;

            &__text {
                max-width: 100%;
                height: 60px;
                position: relative;
                display: inline-block;
                text-overflow: ellipsis;
                word-wrap: normal;
                overflow: hidden;
                @include monts_500;
                color: #000;
                margin: 0;
                margin-bottom: 10px;
            }

            &__date {
                @include monts_500;
                color: $light-blue;
            }
        }
    }
}

.mobile-event {
    display: none;

    @include max-screen(1024px) {
        display: flex;
    }
}