.honorary-page {
    &__button {
        width: 100%;
        max-width: 385px;
        margin: 0;
    }
}

.human {
    background-color: $white;
    margin-bottom: 30px;

    p {
        margin: 0;
    }

    &__main {
        display: flex;
        max-height: 285px;

        @include max-screen(768px) {
            flex-direction: column;
            max-height: 100%;
        }
    }

    &__image {
        width: 300px;
    }

    &__info {
        position: relative;
        width: calc(100% - 300px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 25px 45px 25px 0;

        @include max-screen(768px) {
            width: 100%;
            padding: 25px 0;
        }

        p {
            margin-bottom: 15px;
        }

        &::before {
            position: absolute;
            content: "";
            top: 0;
            right: 45px;
            bottom: 0;
            left: 0;
            border-bottom: 1px solid rgba($dark, .2);
            opacity: 0;

            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -ms-transition: all .5s ease;
            -o-transition: all .5s ease;
            transition: all .5s ease;

            @include max-screen(768px) {
                display: none;
            }
        }

        &.active {
            &::before {
                opacity: .3;
            }
        }
    }

    &__name {
        @include monts_600;
        font-size: 17px;
    }

    &__date {
        @include monts_400;
        font-size: 17px;
    }

    &__profession {
        @include monts_500;
        font-size: 17px;
    }

    &__short-text {
        @include monts_400;
        font-size: 14px;
        color: rgba($dark, .3);

        @include max-screen(768px) {
            padding: 15px 0 20px;
        }
    }

    &__footer {
        display: none;
        padding: 30px 40px 0;

        @include max-screen(768px) {
            padding: 0;
        }
    }

    &__full-text {
        display: flex;
        flex-direction: column;

        p {
            font-size: 17px;
            margin-bottom: 30px;
        }
    }
}