.pageId-16 {
    table {
        width: 100% !important;
    }

    tbody {
        tr:first-child {
            th {
                width: calc(100% / 3) !important;
                border-bottom: 1px solid #fff;

                &:first-child {
                    max-width: 60px;
                }
            }
        }
    }

    tr {
        height: auto !important;

        th {
            width: 100% !important;
        }

        td {
            width: 100% !important;
            max-width: calc(100% / 3);
            height: auto !important;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            &:first-child {
                max-width: 60px;
            }

            p {
                margin: 0;
            }
        }
    }
}