@import '../fonts/Montserrat/stylesheet.css';
@import '../fonts/Oswald/stylesheet.css';
@import "../fonts/Flaticon/font/flaticon.css";

[class*="flaticon-"]:before,
[class*="flaticon-"]:after {
    font-size: inherit;
    font-weight: normal;
    margin-left: 0;
}