.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1200px;
    min-height: 70px;
    padding: 0 65px;
    margin: 0 auto;
    position: relative;

    @include max-screen(768px) {
        display: none;
    }

    &__separate {
        color: #fff;
        padding: 0 5px;
    }

    li {
        @include monts_500;
        font-size: 15px;
        list-style: none;
        color: #fff;
        cursor: default;
    }

    a {
        @include monts_500;
        font-size: 15px;
        color: #fff;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            top: 0;
            right: 50%;
            bottom: -15%;
            left: 50%;
            border-bottom: 1px solid #fff;
            opacity: 0;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
        }

        &:hover {
            text-decoration: none;

            &::before {
                right: 5%;
                left: 0;
                opacity: 1;
            }
        }
    }
}