$white: #ffffff;
$gray: #ebebeb;
$dark: #444444;
$black: #000000;

$light-blue: #00a3e4;
$medium-blue: #018dc4;
$dark-blue: #006abb;
$extra-dark-blue: #002745;

$light-green: #00923f;
$dark-green: #007b35;