$white: #ffffff;
$gray: #ebebeb;
$bg_gray: #fbfbfb;
$dark: #444444;
$black: #000000;

$light-blue: #00a3e4;
$medium-blue: #018dc4;
$dark-blue: #006abb;
$medium-dark-blue: #005ca3;
$extra-dark-blue: #002745;

$light-green: #00923f;
$dark-green: #007b35;

$light-red: #d5424e;