.map-site {
    a {
        color: #fff;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    span {
        &::before {
            font-size: 35px;
        }
    }
    p {
        text-align: center;
        margin: 0;
    }
}