// Стиль основной кнопки
@mixin main-button {
    .main-button {
        position: relative;
        border: 1px solid $white;
        background: transparent;
        color: $white;
        font-size: 24px;
        text-transform: uppercase;
        padding: 15px 30px;
        transition: all .5s ease;
        cursor: pointer;

        &::before {
            position: absolute;
            content: '';
            top: 0;
            right: 100%;
            bottom: 0;
            left: 0;
            background-color: $medium-blue;
            transition: all .3s ease;
            z-index: -1;
        }

        &:hover {
            border: 1px solid $medium-blue;
            color: $white;

            &::before {
                right: 0;
                opacity: 1;
            }
        }


        @include max-screen(480px) {
            font-size: 17px;
        }
    }
}

// Background для всех страниц
// Header
@mixin bg_header($top: 0, $right: 0, $bottom: 0, $left: 0) {
    &::before {
        position: absolute;
        content: '';
        top: $top;
        right: $right;
        bottom: $bottom;
        left: $left;
        background: url(/images/images-kamchatka/promo/promo1.png) 50% 50% no-repeat;
        background-size: cover;
        z-index: -1;
    }
}

// Footer
@mixin bg_footer($top: 0, $right: 0, $bottom: 0, $left: 0) {
    &::before {
        position: absolute;
        content: '';
        top: $top;
        right: $right;
        bottom: $bottom;
        left: $left;
        background: url(/images/images-kamchatka/promo/promo2.png) 50% 50% no-repeat;
        background-size: cover;
        z-index: -1;

        @include max-screen(1024px) {
            background: transparent;
        }
    }
}

// Документ для скачивания стили прямоугольного отображения
@mixin doc-list {
    .documents-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 20px;
        width: 100%;
        background-color: $dark-blue;

        @include max-screen(768px) {
            flex-direction: column;
        }

        p {
            color: $white;
        }

        &__time {
            max-height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            padding: 10px;
            margin: 0;
            box-sizing: border-box;

            @include max-screen(768px) {
                padding: 10px 10px 0 10px;
            }
        }

        &__info {
            position: relative;
            width: calc(100% - 100px);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            @include max-screen(768px) {
                width: 100%;
                flex-direction: column;
                align-items: flex-end;
            }

            @include max-screen(480px) {
                align-items: center;
                justify-content: center;
            }

            &::before {
                content: '';
                position: absolute;
                top: 10px;
                right: 0;
                left: 0;
                bottom: 10px;
                border-left: 2px solid $white;

                @include max-screen(768px) {
                    display: none;
                }
            }
        }

        &__name {
            padding: 0 25px;
            margin: 10px 0;
            @include monts_500;

            @include max-screen(768px) {
                width: 100%;
                margin: 10px 0 20px;
            }
        }

        &__doc {
            min-width: 215px;
            padding: 0;
            margin: 10px;

            a {
                padding: 10px 20px;
                background-color: $white;
            }

            &::before {
                display: none;
            }
        }

        &:hover {
            p {
                color: $white;
            }
        }
    }
}