.copyright {
    min-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    @include monts_400;

    @include max-screen(768px) {
        text-align: center;
        flex-direction: column;
    }

    a {
        min-width: 200px;
        display: flex;
        align-items: center;
        padding-left: 10px;

        @include max-screen(768px) {
            justify-content: center;
            padding-left: 0;
        }

        &::before {
            top: 100%;
            right: 80px;
            bottom: -1px;
            left: 10px;
            background-color: $light-blue;

            @include max-screen(768px) {
                display: none;
            }
        }

        img {
            width: 25px;
            max-height: 25px;
            transform: translateX(5px);
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -ms-transition: all .5s ease;
            -o-transition: all .5s ease;
            transition: all .5s ease;
        }

        &:hover {
            img {
                transform: translateX(15px);
            }

            &::before {
                opacity: 1;
            }
        }
    }
}