.area {
    display: flex;
    justify-content: flex-start;

    ul  {
        padding: 35px 15px 35px 0;
        margin: 0;
    }

    li {
        padding: 0;
        margin: 0;
    }
    
    a {
        display: flex;
        min-width: 250px;
        padding: 15px;
        @include monts_600;
        color: #000;

        &::before {
            right: 100%;
            background-color: $dark-blue;
            z-index: -1;
        }

        &::after {
            position: absolute;
            content: '';
            top: 0;
            right: calc(100% - 6px);
            bottom: 0;
            left: 0;
            background-color: $light-blue;
            opacity: 0;
            transition: all .5s ease;
        }

        &:hover {
            color: #fff;

            &::before {
                right: 0;
                opacity: 1;
            }
        }

        &.active {
            pointer-events: none;

            &::after {
                opacity: 1;
            }
        }
    }
}

.one-page {
    width: calc(100% - 250px);
    background-color: darken(#fff, 3%) ;
    padding: 35px 35px 0;

    h2 {
        padding-bottom: 15px;
        margin: 0;
    }

    p {
        line-height: 22px;
    }
}

.about-area {
    margin-bottom: 35px;
}

// Табы для страниц Район
.one-tab {
    margin-bottom: 20px;
    box-shadow: 0 0 35px -8px #000;
    background-color: #fff;

    &__title {
        position: relative;
        display: flex;
        justify-content: space-between;
        min-height: 60px;
        color: #fff;
        background-color: $dark-blue;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;

        &::before {
            position: absolute;
            content: '';
            top: 0;
            right: 7px;
            bottom: 0;
            left: 25px;
            border-bottom: 1px solid #444;
            opacity: 0;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -ms-transition: all .5s ease;
            -o-transition: all .5s ease;
            transition: all .5s ease;
        }

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            @include monts_600;
            font-size: 17px;
            text-transform: uppercase;
            padding-left: 25px;
        }

        .flaticon-minus-horizontal-straight-line {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 46px;
            height: 46px;
            background-color: #fff;
            margin: 7px;
            z-index: 1;
            cursor: pointer;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -ms-transition: all .5s ease;
            -o-transition: all .5s ease;
            transition: all .5s ease;

            &::before {
                color: $light-blue;
                font-size: 23px;
                font-weight: 700;
                transform: rotate(90deg);
                -webkit-transition: all .5s ease;
                -moz-transition: all .5s ease;
                -ms-transition: all .5s ease;
                -o-transition: all .5s ease;
                transition: all .5s ease;
            }

            &::after {
                position: absolute;
                font-family: Flaticon;
                content: "\f111";
                color: $light-blue;
                font-size: 23px;
                font-weight: 700;
                transform: rotate(0deg);
                opacity: 1;
                -webkit-transition: all .5s ease;
                -moz-transition: all .5s ease;
                -ms-transition: all .5s ease;
                -o-transition: all .5s ease;
                transition: all .5s ease;
            }

            &.active {
                &::before {
                    transform: rotate(-90deg);
                }
            }
        }

        &.active {
            color: $dark-blue;
            background-color: #fff;

            &::before {
                opacity: .3;
            }

            .flaticon-minus-horizontal-straight-line {
                background-color: $dark-blue;

                &::before {
                    color: #fff;
                    transform: rotate(0deg);
                }

                &::after {
                    opacity: 0;
                }
            }
        }

    }

    &__text {
        display: none;
        padding: 0 25px;

        p {
            text-align: justify;
        }
    }
}

// Кнопка для табов страниц Район
.tabs__button {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 280px;
    min-height: 60px;
    color: #fff;
    background-color: $dark-blue;
    margin: 0 0 20px auto;
    cursor: pointer;

    .button-text,
    .flaticon-back {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-text {
        justify-content: flex-end;
        width: calc(100% - 60px);
        @include monts_600;
        font-size: 17px;
        position: absolute;
        top: 50%;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;

        &.active-one,
        &.active-two {
            opacity: 1;
            top: 0;
        }
    }

    .flaticon-back {
        justify-content: center;
        width: 60px;
        height: 60px;

        &::before {
            font-weight: 700;
            transform: rotate(90deg);
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -ms-transition: all .5s ease;
            -o-transition: all .5s ease;
            transition: all .5s ease;
            opacity: 1 !important;
        }

        &.active {
            &::before {
                transform: rotate(-90deg);
            }
        }
    }
}