.settlements-page {
    padding-bottom: 55px;

    .c_black {
        @include monts_600;
        font-size: 17px;
    }

    li {
        list-style: inherit;
    }

    h4 {
        @include monts_600;
        font-size: 17px;
        margin-top: 50px;
    }

    &__content {
        p {
            @include monts_600;
            font-size: 17px;
        }
    }

    .table {
        display: flex;
        @include monts_400;
        font-size: 17px;

        p {
            @include monts_600;
            font-size: 14px;
            line-height: 15px;
            margin: 0;
        }

        &-col {
            & > div {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                min-height: 50px;
                padding: 0 13px;

                &:first-child {
                    min-height: 120px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    background-color: $dark-blue;
                    padding: 20px 13px;
                    box-sizing: border-box;
                    border-right: 1px solid #fff;
                }

                &:nth-child(n+2) {
                    border-right: 1px solid #000;
                    border-bottom: 1px solid #000;
                }
            }

            &:first-child {
                & > div {
                    &:first-child {
                        border-left: 1px solid $dark-blue;
                    }

                    &:nth-child(n+2) {
                        border-left: 1px solid #000;
                    }
                }
            }

            &:last-child {
                & > div {
                    &:first-child {
                        border-right: 1px solid $dark-blue;
                    }
                }
            }
        }
    }

    .table1 {
        .table-col {
            &__1 {
                min-width: 60px;

                & > div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                }
            }

            &__2 {
                width: calc(30% - 45px);
            }

            &__3 {
                width: calc(20% - 10px);
            }

            &__4 {
                width: calc(28% - 5px);
            }

            &__5 {
                width: 22%;
            }
        }
    }

    .table2 {
        .table-col {
            &__1 {
                & > div {
                    padding: 0 2px;

                    &:first-child {
                        padding: 0 13px;
                    }
                }

                width: 18%;
            }

            &__2 {
                width: 22%;
            }

            &__3 {
                width: 15%;
            }

            &__4 {
                width: 20%;
            }

            &__5 {
                width: 30%;
            }
        }
    }

    .table3 {
        .table-col {
            & > div {
                padding: 0 30px;

                &:first-child {
                    padding: 15px 30px;
                }
            }

            &__1 {
                width: 18%;
            }

            &__2 {
                width: 19%;
            }

            &__3 {
                width: 31%;
            }

            &__4 {
                width: 32%;
            }
        }
    }
}