.anti-corruption-page {
    .one-page {
        &__body {
            p a {
                color: $dark-blue;
                font-weight: 600;

                &:hover {
                    color: $medium-blue;
                }
            }
        }
    }

    .button-form-js {
        margin: 0 auto 40px 0;
    }
}