.anti-corruption-page {
    .one-page__title {
        border-bottom: 1px solid rgba($black, .1);
        margin-bottom: 20px;
    }
    .one-page__body {
        min-height: 500px;
        padding-top: 30px;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        @include monts_600;
        font-size: 17px;
        width: 100%;
        max-width: 235px;
        min-height: 60px;
        color: #fff;
        background-color: #006abb;
        cursor: pointer;
        border: 0 !important;
        padding: 0;
        margin: 80px auto 40px 0;

        &:focus {
            outline: none;
        }
    }

    [type="submit"] {
        background-color: #006abb;
        border: none;
    }

    .time-step.active {
        text-align: left;
        padding-left: 10px !important;
    }

    .pagination_numbers {
        padding: 0;
        margin: 30px auto;
    }

    .one-page {
        &__body {
            p a {
                color: $dark-blue;
                font-weight: 600;

                &:hover {
                    color: $medium-blue;
                }
            }
        }
    }

    .button-form-js {
        margin: 0 auto 40px 0;
    }
}