	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/02/2019 06:59
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-placeholder:before { content: "\f100"; }
.flaticon-cloudy:before { content: "\f101"; }
.flaticon-child:before { content: "\f102"; }
.flaticon-glasses:before { content: "\f103"; }
.flaticon-map-location:before { content: "\f104"; }
.flaticon-magnifying-glass:before { content: "\f105"; }
.flaticon-diagram:before { content: "\f106"; }
.flaticon-multiple-users-silhouette:before { content: "\f107"; }
.flaticon-grid-world:before { content: "\f108"; }
.flaticon-return:before { content: "\f109"; }
.flaticon-link:before { content: "\f10a"; }
.flaticon-next:before { content: "\f10b"; }
.flaticon-dot:before { content: "\f10c"; }
.flaticon-back:before { content: "\f10d"; }
.flaticon-next-1:before { content: "\f10e"; }
.flaticon-circular-shape-silhouette:before { content: "\f10f"; }
.flaticon-close:before { content: "\f110"; }
.flaticon-angle-arrow-down:before { content: "\f111"; }
.flaticon-minus-horizontal-straight-line:before { content: "\f112"; }
.flaticon-arrow-left-and-right:before { content: "\f113"; }
.flaticon-seo:before { content: "\f114"; }
.flaticon-clip:before { content: "\f115"; }
.flaticon-document:before { content: "\f116"; }
.flaticon-clock:before { content: "\f117"; }